:root {
  --bg: #555;
}
html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
}
header,
footer {
  background-color: #bbb;
  color: #111;
  padding: 1rem;
}
footer {
  display: flex;
}
#errorText {
  color: red;
  font-weight: bold;
  flex: 1 0 10rem;
}

.main {
  flex: 1 0 0;
  display: flex;
}
.controlPanel {
  background-color: #ddd;
  padding: 1rem;
}
.sketchesContainer {
  flex: 0 1 15rem;
  background-color: #ccc;
}
.sketchesContainer button {
  margin: 1rem;
}
.sketchesContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sketchesContainer li {
  margin: 0;
  padding: 1rem;
}
.left {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}
.canvasContainer {
  background-color: #eee;
  flex: 1 0 0;
}
#canvas {
}
#code {
  width: 100%;
  height: 100%;
}
.codeContainer {
  height: 10rem;
}
.copyright {
  flex-grow: 0;
}
.active {
  background-color: #e3e3e3;
}
